<!DOCTYPE html>
<html>
  <head>
    <title>Place searches</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
        width:80%;
        position:absolute;
        right:0px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }

      #logo{
        padding: 20px;
      }

      #topten{
        font-family:"Trebuchet MS", Helvetica, sans-serif ;
        padding: 25px;
        background: #E9EBEB;
        width: 20%;
      }

      #container {
        width: 20%;
        font-size: 10pt;
        padding: 20px;
        font-family:"Trebuchet MS", Helvetica, sans-serif;
      }
    </style>
    <script>
      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      var map;
      var infoWindow;
      var consumer_key = 'ObvO3l8LZnhDhssFpCJPdCZkD';
      var consumer_secret = 'dgLEKJdcandsbixvtmOhWhcYc4M5j8tnKLyio0eI921MPFmI7x';
      var token = btoa(consumer_key + ':' + consumer_secret);
      var curr = 0;

      function initMap() {
        map = new google.maps.Map($('#map')[0], {
          center: {lat: -34.397, lng: 150.644},
          zoom: 15
        });
        infoWindow = new google.maps.InfoWindow();

        var x = {lat: 0, lng: 0};

        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            x.lat = position.coords.latitude;
            x.lng = position.coords.longitude;

            console.log('Your current position is:');
            console.log(`Latitude : ${position.coords.latitude}`);
            console.log(`Longitude: ${position.coords.longitude}`);
            console.log(`More or less ${position.coords.accuracy} meters.`);
            map.setCenter(x);
            var service = new google.maps.places.PlacesService(map);
            service.nearbySearch({
                location: x,
                radius: 500,
                type: []
            }, callback);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }

      function callback(results, status) {
        if (status === google.maps.places.PlacesServiceStatus.OK) {
          var arr = [];

          for (var i = 0; i < results.length; i++) {
            createMarker(results[i]);
            arr.push([]);
            arr[i].push(curr);
            arr[i].push(i);
          }

          arr.sort(compare);
          for (var i = 0; i < results.length; i++) {
            var temp = '#' + (i + 1);
            $(temp).text(results[arr[i][1]].name + " " + arr[i][0]);
          }
        }
      }

      function compare(a, b) {
        return a[0] - b[0];
      }

      function createMarker(place) {
        var placeLoc = place.geometry.location;
        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location
        });
        var temp = {lat: placeLoc.lat(), lng: placeLoc.lng()}
        var socket = io();
        var content;
        socket.emit('location', temp);
        console.log('request ' + temp);
        socket.on('text', function(result) {
          console.log('response: ' + result);
          content = '<strong>' + place.name + '</strong><br>' + result;
          console.log('content: ' + content);
        });

        google.maps.event.addListener(marker, 'click', function() {
          infoWindow.setContent(content);
          infoWindow.open(map, this);
        });
      }
    </script>
  </head>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZIRqDmWn_wCUA7Nve57WVTM_dtSKRHJM&libraries=places&callback=initMap" async defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <body>
    <div id="map"></div>
    <image id= "logo" src="logo.jpg">
    <p id="topten"> Top 10 most active places in Toronto: </p>
    <div id="container">
      <p id='1'></p> <br/> 
      <p id='2'></p> <br/> 
      <p id='3'></p> <br/> 
      <p id='4'></p> <br/> 
      <p id='5'></p> <br/>
      <p id='6'></p> <br/> 
      <p id='7'></p> <br/> 
      <p id='8'></p> <br/> 
      <p id='9'></p> <br/> 
      <p id='10'></p> <br/>
    </div> 
  </body>
</html>
